name: Build and Push

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Lowercase repository name
        run: |
          echo "REPO_LC=${IMAGE_NAME,,}" >>${GITHUB_ENV}

      - name: Log in to Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Hestia
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.REPO_LC }}/hestia:latest
            ${{ env.REGISTRY }}/${{ env.REPO_LC }}/hestia:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      # Budowanie PocketBase (Backend)
      - name: Build and push PocketBase
        uses: docker/build-push-action@v5
        with:
          context: .
          file: pocketbase.Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.REPO_LC }}/pocketbase:latest
            ${{ env.REGISTRY }}/${{ env.REPO_LC }}/pocketbase:${{ github.sha }}

          cache-from: type=gha
          cache-to: type=gha,mode=max